body {
    background-color: #1f1f1f;
    color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3px;
}

a {
    color: #c7a76c;
    text-decoration: none;
}

    a:hover {
        color: #e0b35c;
        text-decoration: underline;
    }

.navbar-dark .nav-link:hover {
    color: #e0b35c !important;
}

.card {
    background-color: #2b2b2b;
    border: 1px solid #383838;
}

    .card:hover {
        transform: translateY(-3px);
        transition: 0.3s;
    }

.btn-primary {
    background-color: #c7a76c;
    border: none;
}

    .btn-primary:hover {
        background-color: #e0b35c;
    }

.text-warning {
    color: #e0b35c !important;
}
