<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <!-- Sidebar điều hướng (Layout chung cho trang tài khoản) -->
        <div class="col-md-3">
            <div class="list-group">
                <a asp-page="/User/Account/Profile" class="list-group-item list-group-item-action">
                    Thông tin cá nhân
                </a>
                <a asp-page="/User/OrderDetail" class="list-group-item list-group-item-action active" aria-current="true">
                    Đơn hàng của tôi
                </a>
                <a asp-page="/User/Account/PaymentMethods" class="list-group-item list-group-item-action">
                    Phương thức thanh toán
                </a>
                <!-- Form Đăng xuất -->
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-grid">
                    <button type="submit" class="list-group-item list-group-item-action text-danger">Đăng xuất</button>
                </form>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
