@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Pages/Account/Shared/_AccountLayout.cshtml";
}

<h3 class="mb-3">@ViewData["Title"]</h3>

<!-- Hiển thị thông báo thành công/lỗi (từ TempData) -->
@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    var statusMessageClass = Model.StatusMessage.StartsWith("Lỗi") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible fade show" role="alert">
        @Model.StatusMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="form-floating mb-3 bg-dark">
                <input asp-for="Input.OldPassword" class="form-control text-light bg-dark" autocomplete="current-password" aria-required="true" placeholder="Nhập mật khẩu hiện tại." />
                <label asp-for="Input.OldPassword" class="form-label text-muted"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 bg-dark">
                <input asp-for="Input.NewPassword" class="form-control text-light bg-dark" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu mới." />
                <label asp-for="Input.NewPassword" class="form-label text-muted"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 bg-dark">
                <input asp-for="Input.ConfirmPassword" class="form-control text-light bg-dark" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu mới." />
                <label asp-for="Input.ConfirmPassword" class="form-label text-muted"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary rounded-pill">Cập nhật mật khẩu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

